/* .about {
  display: flex;
  text-align: justify;
  padding-bottom: 20px;
}
.about-text {
  padding: 25px 0 0 25px;
  width: 60vw;
}
.about-text i {
  color: rgb(240, 243, 91);
}
.about-text h1 {
  font-size: 30px;
  padding-bottom: 10px;
}
.about-text h3 {
  font-size: 29px;
}
.about-text p {
  font-size: 25px;
  line-height: 30px;
}
.about-img {
  margin-top: 25px;
  background: url(./img/Аняpng.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40vw;
  height: 750px;
} */
