/* .portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio img {
  width: 400px;
  overflow: hidden;
  border: solid 5px #fff;
  overflow: hidden;
  border-radius: 10px;
} */
